# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\3 курс\090304_РПИа-019\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
